<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/MaheshData/ProjectsAssignments/selenium_four">
        <classes>
            <class name="org.example.TestNgTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                    <include name="testAmazon"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>